NODE_ENV=prod

#
# Server type for producer or worker or both
# value: producer, worker (spread with commas - can use one or all of them)
# producer - allow produce request like http, emmit event, socket,....
# worker - only listener event and resolve them
# cron - run the cron jobs
# bot - telegram bot
#
SERVER_TYPE=producer
JOB_DEFINITIONS=
CRON_DEFINITIONS=
BOT_DEFINITIONS=

#
# mongodb
#
MONGODB_URI=
MONGODB_PACKAGE_URI=
MONGODB_PACKAGE_DB_NAME=
#redis
## redis connecti
REDIS_NODES=redis://localhost:6379
REDIS_DEFAULT_EXPIRATION_TIME_IN_SECONDS=60


#
# App
#
APP_NAME=Elpis Starter
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=8080
APP_ROUTE_PREFIX=/api
APP_EXTERNAL_PORT=8080
APP_BE_ROUTE_PREFIX=/api

LOG_LEVEL=debug
PERIOD_PING_MS=10000

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_API_DOCS=/api-docs

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

SYSTEM_ACCESS_TOKEN=

GRAPH_EDGE_IMAGE=

DOCKER_USERNAME=
DOCKER_PASSWORD=
DOCKER_REGISTRY=

AGENT_ID=
AGENT_URL=
AGENT_IP=

BE_URL=

CANDY_URL=
CANDY_SECRET=