$shadow-blue: #788AAE;
$anti-flash-white: #F2F0F8;

$dark: #000000;
$dark-1: #111827;
$dark-2: #374151;
$dark-3: #1F2937;
$dark-4: #1F2937;

$rgb_dark: #121114cc;

$white: #FFFFFF;
$white-1: #F9FAFB;
$white-2: #E5E7EB;
$white-3: #FCFDFF;
$white-4: #F9F9FF;

$gray: #4B5563;
$gray-1: #D1D5DB;
$gray-2: #F3F4F6;
$gray-3: #FAFCFF;
$gray-4: #9CA3AF;
$gray-5: #6B7280;
$gray-6: #3E3F4A;

$eerie-black: #17161A;
$eerie-black-1: #1C1B20;

$rgb-purple: #4b42ff1a;
$rgb-purple-1: #e6e0ff08;
$rgb-purple-2: #8d75ff05;
$rgb-purple-3: #8d75ff1a;

$purple: #8D75FF;
$purple-1: #8268FF;
$purple-2: #8378AE;

$red: #FF4D4F;

$rgb_gray: #9f8ed41a;
$rgb-navy-blue: #1A73E808;
$brilliant-azure: #398FFF08;
$transparent: transparent;




